body {
    margin: 0;
    font-family: 'Roboto' sans-serif;
    background-color: #F5F5DC;
}

nav {
    background-color: #d79b9b;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #00adb5;
}

section {
    padding: 60px;
    background-color: #eedec5;
    margin: 20px;
    border-radius: 10px;
}

h1, h2 {
    color: #222;
}

table th,
table td {
    padding: 10px;
    text-align: left;
}

input, textarea {
    width: 300px;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    transition: 0.2s;
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid lightblue;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #00adb5;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #008c94;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #d79b9b;
    color: white;
}